* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;        /* To Box Model */
}

body {
    font-family: "Merriweather", sans-serif;
    background-color: #ebf2ff;
    overflow-x: hidden;
    transition: 0.5s;
  }

.button__primary {
    background-image: linear-gradient(
        to right,
        #ff512f 0%,
        #dd2476 51%,
        #ff512f 100%
        );
        color: #fff;
        border: none;
        padding: 12px;
        border-radius: 6px;
        cursor: pointer;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #fff;
}

.navbar__brand{
    width: 100px;
}

.navbar__logo{
    width: 100%;
}



.nav__item:hover{
    border: 2px solid pink;
}

.hero__image__container {
    position: relative;
    width: 100%;
}

.hero__image__shape {
    position: absolute;
    right: 2;
  }

  .hero__image {
    margin-top: 2rem;
    position: absolute;
    width: 100%;
    right: auto;
    left: auto;
    z-index: 2;
    border-radius: 6px;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  }

.hero__text {
    font-size: 25px;
    margin: 20px 0;
    font-size: 1.875rem;
    line-height: 2.25rem;
    color: #1d3557;
    font-weight: 900;
}

.explore__menu__text {
    font-size: 30px;
    margin-top: 50px;
    margin-bottom: 25px;
    text-align: center;
    font-size: 1.5rem;
    line-height: 2rem;
    color: #1d3557;
    font-weight: 900;
}

.food__card {
    background-color: #fff;
    border-radius: 8px;
    margin-bottom: 15px;
}

.food__card__image__container {
    width: 100%;
}

.food__image {
    width: 100%;
    border-radius: 8px 8px 0 0; 
}

.food__card__description{
    padding: 15px;
}

@media (min-width: 768px) {
    .navbar {
        justify-content: space-between;
        padding: 1px 30px;
    }
    .hero__container {
        margin-top: 20px;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
    }
    .explore__menu__lists{
        margin-top: 40px;
        display: flex;
        gap: 15px;
        padding: 0 30px;
    }
    #pizza__card{
        margin-top: -20px;
        margin-bottom: 30px;
    }

    .explore__menu__container{
        margin-top: 30px;
    }
    .explore__menu__view__more {
        display: flex;
        justify-content: center;
    }
    .explore__menu__container{
        position: relative;
    }
    .explore__menu__gradient__bg{
        position: absolute;
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;

        background-image: linear-gradient(
        to right,
        #ff512f 0%,
        #dd2476 51%,
        #ff512f 100%
        );
        
        transform: skewY(-5deg);
        z-index: -3;
    }
}

@media (min-width: 1020px){
    .container {
        max-width: 900px;
    }
    .navbar__brand {
        width: 150px;
    }
    .button__primary {
        padding: 20px;
        font-size: 20px;
    }
    .hero__description {
        width: 100%;
    }
    .hero__text {
        font-size: 40px;
    }
    .explore__menu__lists{
        gap: 40px;
    }
    .explore__menu__text{
        font-size: 50px;
    }
}

@media (min-width: 1400px) {
    .container {
        max-width: 1250px;
    }
}
